@model List<ToDoList.Models.List>
@{
    ViewBag.Title = "Medium";
}
<html>
<head>
    <title>medium</title>
</head>
<body>

    <div style="width:500px; padding-top:50px; padding-left:100px">
        @if (Model.Count > 0)
        {
            int count = 0;
            foreach (var m in Model)
            {
                if (m.Priority == "Medium")
                {
                    count++;
                }
            }
            if (count > 0)
            {
                <h2>Medium Priority TO DOs</h2>
                foreach (var m in Model)
                {
                    if (m.Priority == "Medium")
                    {
                        <h3>Id: @m.Id</h3>
                        <p>
                            @m.ToDo
                        </p>

                        <p>
                            Due:
                            @m.DueDate
                        </p>
                    }

                }

            }
            else
            {
                < h2 > No Medium Priority Work to Do </ h2 >
            }
        }
        else
        {
            <h2>No Medium Priority Work to Do</h2>
        }

    </div>
</body>
</html>

